<h1>Editing Registration Form Test Abc</h1>

<%= render 'form', registration_form_test_abc: @registration_form_test_abc %>

<%= link_to 'Show', @registration_form_test_abc %> |
<%= link_to 'Back', registration_form_test_abcs_path %>
