<h1>Editing Registration Form Niki</h1>

<%= render 'form', registration_form_niki: @registration_form_niki %>

<%= link_to 'Show', @registration_form_niki %> |
<%= link_to 'Back', registration_form_nikis_path %>
